{{!-- <div class="container">
  {{drop-zone config=options complete=(action "onUploadComplete")}}
</div> --}}


<div class="center-align"> 

<div class="row"> 
  <div class="padding">
<img src={{imageSrc}} />
  </div>
</div>


<div class="row"> 
  <button class="waves-effect waves-light btn"><i class="material-icons file_upload"/> Browse </button>
  <button class="waves-effect waves-light btn"><i class="material-icons left"/> Submit </button>
</div>

<div class=""> </div>
</div>